body {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    width: 350px;
}

.card {
    border-radius: 10px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}